.position-container {
    border: 2px solid rgb(228, 228, 228);
    border-radius: 13px;
    padding: 10px;
    margin: 20px 10px 25px 10px;
    box-shadow: 2px 2px rgb(224, 224, 224);
}


.table-scroll {
    overflow-x: auto;
    width: 100%;
}

.order-table {
    width: max-content;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(153, 153, 153, 0.308);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(131, 131, 131, 0.432);
}


.floating-order {
    margin-left: 15% !important;
}

.order-table th,
.order-table td {
    white-space: nowrap;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 12px;
}

.th-field,
.td-val {
    min-width: 50px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


@media print {
    .container {
        margin: 0 !important;
        padding: 0 !important;
        min-height: unset !important;
    }
}
.price{
    --bs-table-bg-type: #f8f9fa !important;
}
.price-label {
    background: #eaf4fd;
    color: #5a5a5a;
    border-radius: 6px;
    padding: 2px 8px;
    margin-right: 6px;
    font-size: 0.96em;
    font-weight: 500;
    display: inline-block;
}
thead tr{
    --bs-table-bg-type: #f8f9fa !important;
}
tr{
    --bs-table-bg-type: #e6cbbb77;
}

.total-price {
    margin-top: 20px;
    padding: 12px 20px;


    max-width: 1000px;
    margin-left: auto;
    /* wyrównanie do prawej */
    color: #004085;
    font-weight: 600;
    font-size: 1.1rem;

    gap: 30px;
    /* odstęp pomiędzy elementami */
    margin-bottom: 30px;
}

.total-price span {

    min-width: 180px;
    text-align: left;

    font-weight: 700;
    font-size: 1.15rem;
}

