@media (max-width: 1300px) {
	.form-content {
		margin-left: 260px;
		max-width: calc(100% - 290px);
	}
	.container {
		padding: 10px;
	}
	#dynamic-form {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 920px) {
	#dynamic-form {
		grid-template-columns: 1fr;
	}
	.comment-space{
		width:80%;
	}
}
@media (max-width: 850px) {
	.desktop-nav {
		display: none !important;
	}
	[class$="-select-area"] {
		display: grid;
		flex-direction: column;
	  }
	  [class$="-select-area"] > button {
		display: block;
		width: 90% !important;
	  }
	.mobile-nav {
		display: block !important;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 110;
	}
	.form-content {
		margin-top: 70px;
		margin-left: 10px;
		max-width: calc(100% - 20px);
	}
	.update-info{
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.mobile-nav .nav-link {
		color: #2b2b2b !important;
		font-weight: 475;
	  }
	.table{
		width:80% !important;
		table-layout:fit-content !important;
	}
	.commission-space{
		display: grid !important;
	}
	.comm-input{
		width:80% !important;
	}
	.col-1{
		margin-top: 125px !important;
		width: 100%;
	}
}