{% block title %}{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="styles/order-pdf.css">
  {% endblock head %}
  <div class="position-relative">
    <img src="{{ logoPath }}" alt="logo" class="logo">
      <div id='header-space'>
        <h2 class="header">{{ __('history_order.title') }}{{ orderNr }}
          {% if orderDetails.commision %}
            "{{ orderDetails.commision }}"{% endif %}
        </h2>
        {% if orderDetails.comment %}
          <div class='header-comment'>
            <strong>{{ __('order.comment') }}:</strong>
            {{ orderDetails.comment }}
          </div>
        {% endif %}
      </div>
      {% set globalIndex = 1 %}
      {% for table in cleanOrderItems %}
        <table id='table'>
          <thead>
            <tr>
              <th>#</th>
              <th>{{ __('order.department') }}</th>
              <th>{{ __('order.group_name') }}</th>
              <th>{{ __('order.name') }}</th>
              {% for header in table.headers1 %}
                {% if not(header in table.locked) %}
                  <th>{{ header }}</th>
                {% endif %}
              {% endfor %}
              <th>{{ __('order.comment') }}</th>
              <th>Identyfikator</th>
            </tr>
          </thead>
          <tbody>
            {% for rowObj in table.rows %}
              <tr>
                <td>{{ globalIndex }}</td>
                <td>{{ rowObj.item.department or '-' }}</td>
                <td>{{ rowObj.item.group_name or '-' }}</td>
                <td>{{ rowObj.item.commision or "-" }}</td>
                {% for header in table.headers1 %}
                  {% if (not(header in rowObj.item.lockedParams)) %}
                    <td>{{ rowObj.row.row1[header] or '-' }}</td>
                  {% endif %}
                {% endfor %}
                <td>{{ rowObj.item.comment or '-' }}</td>
                <td>{{ rowObj.item.posId or "0" }}</td>
              </tr>
              <tr>
                {% for header in table.headers2 %}
                  {% if (not(header in rowObj.item.lockedParams)) %}
                    <td class="price" colspan="2">
                      <span class="price-label">{{ header }}:</span>
                      <b>{{ rowObj.row.row2[header] or '-' }}</b>
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% set globalIndex = globalIndex + 1 %}
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      <div class="print-total-items">
        {{ __('order.total_items') }}: {{ globalIndex - 1 }}
      </div>
      {% if sendData.total %}
        <div id='total-container'>
          <div class="total-price">
            {{ sendData.total }}
          </div>
        </div>
      {% endif %}
      {% if sendData.total_hidden %}
        <div id='total-container'>
          <div class="total-price">
            {{ sendData.total_hidden }}
          </div>
        </div>
      {% endif %}
    </div>
    <div class='client-details'>
      <div class="order-details">
        <h2 class='header-3'>{{ __('order.client_data') }}</h2>
        <div class="order-details-line">{{ __('new-order.client_name') }}: {{ sendData.client }}</div>
        <div class="order-details-line">{{ __('base.nip') }}: {{ sendData.tax }}</div>
        <div class="order-details-line">{{ __('orders.created_date') }}: {{ sendData.created_date }}</div>
        <div class="order-details-line">{{ __('orders.sent_date') }}: {{ sendData.sentDate }}</div>
      </div>
      <div class="order-details">
        <h2 class='header-3'>{{ __('order.send_data') }}</h2>
        {% if sendData.name %}
          <div class="order-details-line">{{ __('order.address_name') }}: {{ sendData.name }}</div>
        {% endif %}
        <div class="order-details-line">{{ __('new-order.street') }}: {{ sendData.address }}</div>
        <div class="order-details-line">{{ __('new-order.city') }}: {{ sendData.zip }}
          {{ sendData.city }}</div>
        <div class="order-details-line">{{ __('new-order.country') }}: {{ sendData.country }}</div>
        <div class="order-details-line">{{ __('new-order.email_placeholder') }}:
        {{ sendData.email }}</div>
        <div class="order-details-line">{{ __('new-order.phone') }}: {{ sendData.phone }}</div>
      </div>
    </div>
  </div>
  {% block scripts %}
    <script type='module' src='/scripts/base.js'></script>
  {% endblock %}