{% extends "base.njk" %}
{% block title %}
{{ __('new-order.page_title') }}
{% endblock title %}
{% block key_nav %}
window.history.back()
{% endblock %}
{% block back_link %}
<button class="modern-back-btn" onclick="window.history.back()">
    {% endblock %}
    {% block head %}
    <link rel="stylesheet" href="/styles/new-order.css">
    {% endblock head %}
    {% block content %}

    <div class="content center-content">
        <div class="container my-5 col-12 w-100 ">
            <div class="row justify-content-center">
                <h2 class="p-3">
                    {% block order_title %}{{ __('site.contact') }}
                    {% endblock order_title %}
                </h2>
                <div class="privacy-content">
                    {{ contentHtml | safe }}
                </div>
            </div>
        </div>
    </div>
    {%endblock content%}