{% extends "new-order.njk" %}
{% block title %}{{__('edit_order.title') }}
{% endblock title %}
{% block order_title %}{{__('edit_order.h1') }}
{% endblock order_title %}

{% block commision_input %}
  <input type="text" class="form-control validate" id="commission-input" value='{{orderData.commision}}' placeholder="{{__('edit_order.order_name_placeholder') }}"/>
{% endblock commision_input %}
address_id
{% block checkbox_label %}
  Edytuj dane klienta
{% endblock %}
{% block client_select %}
  <select id="address-select" name="selected_address" class="form-select mb-2">
    <option value="{{ orderData.address_id }}" selected="selected">
      {{ orderData.street }},
      {{ orderData.city }},
      {{ orderData.zip }}
      {{ orderData.country }}</option>
  </select>
{% endblock %}
{% block name_input %}

  <input type="text" class="form-control" id="name" placeholder="{{ __('new-order.client_name_placeholder') }}" value='{{orderData.name}}'/>
{% endblock name_input %}
{% block email_input %}
  <input type="text" class="form-control" id="email" value='{{orderData.email}}' placeholder="{{__('edit_order.email_placeholder') }}"/>
{% endblock email_input %}

{% block phone_input %}
  <input type="text" class="form-control" id="phone" placeholder="{{__('edit_order.phone_placeholder') }}" value='{{orderData.phone}}'/>
{% endblock phone_input %}

{% block street_input %}
  <input type="text" class="form-control" id="street" placeholder="{{__('edit_order.street_placeholder') }}" value='{{orderData.street}}'/>
{% endblock street_input %}
{% block city_input %}
  <input type="text" class="form-control" id="city" placeholder="{{__('edit_order.street_placeholder') }}" value='{{orderData.city}}'/>
{% endblock city_input %}
{% block zip_input %}
  <input type="text" class="form-control" id="zip" placeholder="{{__('edit_order.zip_placeholder') }}" value='{{orderData.zip}}'/>
{% endblock zip_input %}
{% block country_input %}
  <input type="text" class="form-control" id="country" placeholder="{{__('edit_order.country_placeholder') }}" value='{{orderData.country}}'/>
{% endblock country_input %}

{% block checkbox_address2 %}Edytuj / dodaj adres dostawy
{% endblock %}

{% block send_name_input %}
  <input type="text" class="form-control" id="sendName" placeholder="{{ __('new-order.client_name_placeholder') }}" value='{{orderData.send_name}}'/>
{% endblock send_name_input %}

{% block send_email_input %}
  <input type="text" class="form-control" id="sendEmail" placeholder="{{ __('new-order.email_placeholder') }}" value='{{orderData.send_email}}'/>
{% endblock send_email_input %}
{% block send_phone_input %}
  <input type="text" class="form-control" id="sendPhone" placeholder="{{ __('new-order.phone_placeholder') }}" value='{{orderData.send_phone}}'/>
{% endblock send_phone_input %}

{% block send_street_input %}
  <input type="text" class="form-control" id="sendStreet" placeholder="{{ __('new-order.street_placeholder') }}" value='{{orderData.send_street}}'/>
{% endblock send_street_input %}
{% block send_city_input %}
  <input type="text" class="form-control" id="sendCity" placeholder="{{ __('new-order.city_placeholder') }}" value='{{orderData.send_city}}'/>
{% endblock send_city_input %}
{% block send_zip_input %}
  <input type="text" class="form-control" id="sendZip" placeholder="{{ __('new-order.zip_placeholder') }}" value='{{orderData.send_zip}}'/>
{% endblock send_zip_input %}
{% block send_country_input %}
  <select class="form-control" id="sendCountry" placeholder="{{ __('new-order.country_placeholder') }}" value='{{orderData.send_country}}'></select>
{% endblock send_country_input %}

{% block comment_input %}
  <textarea type="text" class="form-control" id="comment" placeholder="{{__('edit_order.comment_placeholder') }}" cols="40" rows="5">
    {{orderData.comment}}</textarea>
{% endblock comment_input %}
{% block sendBbtn %}
  <button class="btn btn-outline-secondary p-2 col-3" id="update-order" type="button" data-id="{{orderData.id}}">{{__('edit_order.save_button') }}</button>
{% endblock %}