{% block title %}{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="/styles/order_details.css">
    <link rel="stylesheet" href="/styles/mobile/order_details.css">
      <link rel="stylesheet" href="/styles/dialog.css">
        <link rel="stylesheet" href="/styles/mobile/dialog.css">
          <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.6/dist/purify.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/canvg@3.0.10/lib/umd.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
          <style>
            .logo {
              width: 400px;
              margin-top: 60px;
              margin-left: 60px;
            }
          </style>
        {% endblock head %}
        <div class="position-relative  mb-4">
          <img alt="logo " class="logo">
            <h2 class="fw-bold header text-center p-4">
              {{ __('order.title') }}
              {{ orderDetails.id }} <br/>
              {% if orderDetails.commision %}
                <h2 style="text-align: center; margin: 20px 0">"{{ orderDetails.commision }}"</h2>
              {% endif %}
              {% if orderDetails.comment %}
                <div style="text-align: center; margin-bottom: 30px">
                  <strong>{{ __('order.comment') }}:</strong>
                  {{ orderDetails.comment }}
                </div>
              {% endif %}
              {% set globalIndex = 1 %}
              {% for table in cleanOrderItems %}
                <table style="width: 100%; margin-left:40px; border-collapse: collapse; margin-bottom: 40px; page-break-inside: avoid">
                  <thead style='background-color:rgb(209, 209, 209);;'>
                    <tr>
                      <th style="border: 1px solid #000; padding: 8px; text-align: left; white-space: nowrap">#</th>
                      <th style="border: 1px solid #000; padding: 8px; text-align: left; white-space: nowrap">{{ __('order.name') }}</th>
                      {% for header in table.headers %}
                        <th style="border: 1px solid #000; padding: 8px; text-align: left; white-space: nowrap; min-width: 120px">{{ header }}</th>
                      {% endfor %}
                      <th style="border: 1px solid #000; padding: 8px; text-align: left; white-space: nowrap">{{ __('order.comment') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rowObj in table.rows %}
                      <tr>
                        <td style="border: 1px solid #000; padding: 8px">{{ globalIndex }}</td>
                        <td style="border: 1px solid #000; padding: 8px">{{ rowObj.item.commision or "-" }}</td>
                        {% for header in table.headers %}
                          <td style="border: 1px solid #000; padding: 8px; white-space: nowrap">{{ rowObj.row[header] or '-' }}</td>
                        {% endfor %}
                        <td style="border: 1px solid #000; padding: 8px">{{ rowObj.item.comment or "-" }}</td>
                      </tr>
                      {% set globalIndex  = globalIndex  + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
              {% endfor %}
            </div>
            {% block scripts %}
              <script type='module' src='/scripts/base.js'></script>
            {% endblock %}