{% extends "base.njk" %}
{% block title %}
    {{ __('order.title') }}
    {{ orderDetails.order_idx }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="/styles/order_details.css">
        <link rel="stylesheet" href="/styles/mobile/order_details.css">
            <link rel="stylesheet" href="/styles/dialog.css">
                <link rel="stylesheet" href="/styles/mobile/dialog.css">
                    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.6/dist/purify.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/canvg@3.0.10/lib/umd.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
                {% endblock head %}
                {% block key_nav %}
                    window.history.back()
                {% endblock %}
                {% block back_link %}
                    <button class="modern-back-btn" onclick="window.history.back()">
                    {% endblock %}
                    {% block content %}
                    <div class="content  col-9 center-content">
                        <div id='order-nav' class='bg-white'>
                            <div class="order-nav-main">
                                <div class="mobile-top-row d-block d-md-none">
                                    <div id="order-buttons">
                                        <a
                                            href="/orders/order/{{ orderDetails.id }}/new-position/"
                                            class="action-btn action-btn-send "
                                            id="new-order-button"
                                            type="button">
                                            <img class='ico' src="/img/new-position.png" alt=""></a>
                                            <a href="/orders/edit/{{ orderDetails.id }}" class="action-btn action-btn-edit" id="edit-order-button" type="button">
                                                <img class='ico' src="/img/edit-text.png" alt="{{ __('orders.edit') }}"></a>
                                            </div>
                                            <div id="generate-container-mobile">
                                                {% if not isGroup and not isGroupShop %}
                                                <button id="unlockBtn" class="btn">
                                                    <img src="/img/padlock.png" alt="padlock icon" class='icon'></button>
                                                {% endif %}
                                                    {% if isGroup %}
                                                        <button id="unlockSubBtn" class="btn has-tooltip{% if showSub %} active{% endif %}" data-tooltip="{{ __('group.toggle_sub_params_tooltip') }}">
                                                            <img src="/img/key-chain.png" alt="sub params icon" class='icon'></button>
                                                    {% endif %}
                                                    <button class="btn has-tooltip" data-tooltip="{{ __('base.generate_pdf_tooltip') }}" id='print-button'>
                                                        <img src="/img/pdf.png" alt="pdf icon" class='icon'></button>
                                                        <button id="generate-excel-btn" class="btn has-tooltip" data-tooltip="{{ __('order.generate_excel_tooltip') }}">
                                                            <img src="/img/excel-file.png" alt="excel-file-image" class='icon'></button>
                                                        </div>
                                                    </div>
                                                    <div id="order-buttons" class="d-none d-md-flex">
                                                        {% block new_pos_btn %}
                                                            <a
                                                                href="/orders/order/{{ orderDetails.id }}/new-position/"
                                                                class="action-btn action-btn-send custom-order-btn"
                                                                id="new-order-button"
                                                                type="button">
                                                                {{ __('order.add_position_btn') }}
                                                            </a>
                                                        {% endblock %}
                                                    </div>
                                                    {% block order_space %}
                                                        <div class="floating-order w-50 d-none d-md-block" id='desktop-floating-order'>
                                                        {% endblock %}
                                                        <h2 class="fw-bold header text-center" id='order-title' data-id="{{ orderDetails.id }}">
                                                            {% block order_title %}
                                                                {{ __('order.title') }}
                                                            {% endblock %}
                                                            {{ orderDetails.order_idx }} <br/>
                                                            {% if orderDetails.commision %}
                                                                <p id='commission-name' data-name='{{ orderDetails.commision }}'>"{{ orderDetails.commision }}"</p>
                                                            {% endif %}
                                                        </h2>
                                                    </div>
                                                    {% block print_space %}
                                                        <div id="generate-container" class='me-3 d-none d-md-flex'>
                                                            {% block edit_order_btn %}
                                                                <a
                                                                    href="/orders/edit/{{ orderDetails.id }}"
                                                                    class="action-btn action-btn-edit row me-2"
                                                                    id="edit-order-button"
                                                                    type="button">
                                                                    {{ __('edit_order.title') }}
                                                                </a>
                                                            {% endblock %}
                                                            <div class='d-flex'>
                                                                {% if not isGroup and not isGroupShop %}
                                                                <button class="btn has-tooltip" data-tooltip="{{ __('base.give_discount_tooltip') }}" id='discount-btn'>
                                                                    <img src="/img/sale.png" alt="sale icon" class='icon'></button>
                                                                {% endif %}
                                                                    {% if not isGroup and not isGroupShop %}
                                                                    <button id="unlockBtn" class="btn">
                                                                        <img src="/img/padlock.png" alt="padlock icon" class='icon'></button>
                                                                    {% endif %}
                                                                        {% if isGroup %}
                                                                            <button id="unlockSubBtn" class="btn has-tooltip{% if showSub %} active{% endif %}" data-tooltip="{{ __('group.toggle_sub_params_tooltip') }}">
                                                                                <img src="/img/key-chain.png" alt="sub params icon" class='icon'></button>
                                                                        {% endif %}
                                                                        <button class="btn has-tooltip" data-tooltip="{{ __('base.generate_short_pdf_tooltip') }}" id='short-print-button'>
                                                                            <img src="/img/pdf-short.png" alt="pdf icon" class='icon'></button>
                                                                             {% if admin and availableLanguages %}
                                                                                    <div class="dropdown has-tooltip" data-tooltip="{{ __('order.translate_pdf') }}">
                                                                                            <button class="btn dropdown-toggle" id='translate-pdf-btn' data-bs-toggle="dropdown">
                                                                                            <img src="/img/pdf-translate.png" alt="pdf icon" class='icon'>
                                                                                           
                                                                                        </button>
                                                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                                                            {% for lang in availableLanguages %}
                                                                                                <li><a class="dropdown-item translate-pdf-lang" href="#" data-lang="{{ lang }}">{{ lang | upper }}</a></li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </div>
                                                                                {% endif %}
                                                                            <button class="btn has-tooltip" data-tooltip="{{ __('base.generate_pdf_tooltip') }}" id='print-button'>
                                                                                <img src="/img/pdf.png" alt="pdf icon" class='icon'></button>
                                                                                <button id="generate-excel-btn" class="btn has-tooltip" data-tooltip="{{ __('order.generate_excel_tooltip') }}">
                                                                                    <img src="/img/excel-file.png" alt="excel-file-image" class='icon'></button>
                                                                               
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="floating-order w-100 mobile d-block d-md-none">
                                                                            <h2 class="fw-bold header text-center p-4" id='order-title-mobile' data-id="{{ orderDetails.id }}">
                                                                                {{ __('order.title') }}
                                                                                {{ orderDetails.order_idx }} <br/>
                                                                                {% if orderDetails.commision %}
                                                                                    <p id='commission-name-mobile' data-name='{{ orderDetails.commision }}'>"{{ orderDetails.commision }}"</p>
                                                                                {% endif %}
                                                                            </h2>
                                                                        </div>
                                                                        <!-- Komentarz pod tytułem -->
                                                                        <div class="comment-space d-flex align-items-center justify-content-center w-100">
                                                                            <h3 id='comment' class='h3 fw-bold btn row' data-id="{{ orderDetails.id }}">
                                                                                {% if orderDetails.comment and orderDetails.comment.trim() and orderDetails.comment.trim() != '' and orderDetails.comment.trim() != '-' %}
                                                                                    {{ __('order.comment') }}: {{ orderDetails.comment }}
                                                                                {% endif %}
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                {% endblock %}
                                                                <div class="container my-5 padding-top mobile-rm-card">
                                                                    <div class="position-relative mb-4 static-head"></div>
                                                                    {% if cleanOrderItems.length > 0 %}
                                                                        <div class="order-table-container" style="overflow-x: auto;">
                                                                            {% block table %}
                                                                                {% set globalIndex = 1 %}
                                                                                {% for table in cleanOrderItems %}
                                                                                    <div class="table-scroll mb-5">
                                                                                        {% block table_style %}
                                                                                            <!-- Desktop table -->
                                                                                            <table class="table align-left table-bordered order-table mt-5 d-none d-md-table">
                                                                                                <thead>
                                                                                                {% endblock %}
                                                                                                <tr>
                                                                                                    {% block btns_head %}
                                                                                                        <th class="edit-buttons">{{ __('order.action') }}</th>
                                                                                                    {% endblock %}
                                                                                                    <th class="edit-buttons">#</th>
                                                                                                    {% for header in table.headers1 %}
                                                                                                        {% if not(header in table.locked) and not(header in table.sub) %}
                                                                                                            <th class="th-field">{{ header }}</th>
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                    <th class="edit-buttons">{{ __('order.department') }}</th>
                                                                                                    <th class="edit-buttons">{{ __('order.group_name') }}</th>
                                                                                                    <th class="edit-buttons">{{ __('order.name') }}</th>
                                                                                                    <th class="edit-buttons">{{ __('order.comment') }}</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                {% for rowObj in table.rows %}
                                                                                                    {% block item_redirect %}
                                                                                                        <tr style="cursor: pointer display:grid" onclick="window.location.href='/position/{{ rowObj.item.id }}'">
                                                                                                        {% endblock %}
                                                                                                        {% block pos_btns %}
                                                                                                            <td class="d-flex align-items-center">
                                                                                                                <div class="position-controls d-flex flex-column align-items-center me-2">
                                                                                                                    <button class="btn move-up-btn has-tooltip" data-tooltip="{{ __('order.move_up') }}" data-id="{{ rowObj.item.id }}" onclick="event.stopPropagation()">
                                                                                                                        <svg viewbox="0 0 16 16">
                                                                                                                            <path
                                                                                                                                fill-rule="evenodd"
                                                                                                                                d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5
                                                                                                                                    5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                                                                                                        </svg>
                                                                                                                    </button>
                                                                                                                    <button class="btn move-down-btn has-tooltip" data-tooltip="{{ __('order.move_down') }}" data-id="{{ rowObj.item.id }}" onclick="event.stopPropagation()">
                                                                                                                        <svg viewbox="0 0 16 16">
                                                                                                                            <path
                                                                                                                                fill-rule="evenodd"
                                                                                                                                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5
                                                                                                                                    10.293V4.5A.5.5 0 0 1 8 4z"/>
                                                                                                                        </svg>
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                                <button class="action-btn action-btn-duplicate me-1 p-1 duplicate-btn has-tooltip" data-tooltip="{{ __('order.duplicate_pos') }}" data-id='{{ rowObj.item.id }}' onclick="event.stopPropagation()">
                                                                                                                    <img src="/img/duplicate.png" class='icon' alt="{{ __('order.edit') }}"></button>
                                                                                                                    <a class="action-btn action-btn-edit me-1 p-1 edit-position-btn has-tooltip" data-tooltip="{{ __('order.edit_pos') }}" href="/position/{{ rowObj.item.id }}/edit?id={{ rowObj.item.id }}" onclick="event.stopPropagation()">
                                                                                                                        <img src="/img/edit-text.png" alt="{{ __('order.edit') }}"></a>
                                                                                                                        <button class="action-btn action-btn-delete p-1 delete-position-btn has-tooltip" data-tooltip="{{ __('order.delete_pos') }}" type="button" data-id="{{ rowObj.item.id }}" data-href="/position/{{ rowObj.item.id }}/delete" onclick="event.stopPropagation()">
                                                                                                                            <img src="/img/delete.png" alt="{{ __('order.delete') }}"/>
                                                                                                                        </button>
                                                                                                                    {% endblock %}
                                                                                                                </td>
                                                                                                                <th scope="row" class='order-idx' data-id="{{ rowObj.item.id }}" data-idx='{{ globalIndex }}'>{{ globalIndex }}</th>
                                                                                                                {% for header in table.headers1 %}
                                                                                                                    {% if not(header in rowObj.item.lockedParams) %}
                                                                                                                        <td class="td-val">{{ rowObj.row.row1[header] or '-' }}</td>
                                                                                                                    {% endif %}
                                                                                                                {% endfor %}
                                                                                                                <td>{{ rowObj.item.department or '-' }}
                                                                                                                </td>
                                                                                                                <td>{{ rowObj.item.group_name or '-' }}
                                                                                                                </td>
                                                                                                                <td>{{ rowObj.item.commision | truncate(20, true, "...") or "-" }}</td>
                                                                                                                <td>{{ rowObj.item.comment | truncate(30, true, "...") }}</td>
                                                                                                            </tr>
                                                                                                            <tr id='price-row'>
                                                                                                                {% if not isGroupShop %}
                                                                                                                {% for header in table.headers2 %}
                                                                                                                    {% if not(header in rowObj.item.lockedParams) %}
                                                                                                                        {% set value = rowObj.row.row2[header] %}
                                                                                                                        {% if value and value != '-' and value != '' %}
                                                                                                                            <td class="price" colspan="2">
                                                                                                                                <span class="price-label">{{ header }}:</span>
                                                                                                                                <b>{{ value }}</b>
                                                                                                                            </td>
                                                                                                                        {% endif %}
                                                                                                                    {% endif %}
                                                                                                                {% endfor %}
                                                                                                                {% endif %}
                                                                                                            </tr>
                                                                                                            {% if (isGroup or isGroupShop) and rowObj.item.subParamValues and rowObj.item.subParamValues.length > 0 %}
                                                                                                                <tr class="sub-params-row"{% if showSub or isGroupShop %} style="display: table-row;"{% endif %}>
                                                                                                                    <td colspan="100%" class="sub-params-cell">
                                                                                                                        <div class="sub-params-container">
                                                                                                                            {% for entry in rowObj.item.subParamValues %}
                                                                                                                                {% if entry.value and entry.value != '-' and entry.value != '' %}
                                                                                                                                    <span class="sub-param-item">
                                                                                                                                        <span class="sub-param-label">{{ entry.display }}:</span>
                                                                                                                                        <b>{{ entry.value }}</b>
                                                                                                                                    </span>
                                                                                                                                {% endif %}
                                                                                                                            {% endfor %}
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            {% endif %}
                                                                                                            {% set itemProdDays = itemProductionDays[rowObj.item.id] %}
                                                                                                            {% block estimatedProdDate %}
                                                                                                                <tr class="prod-time-row">
                                                                                                                    <td colspan="100%">
                                                                                                                        <div class="prod-time-row-cell">
                                                                                                                            <span class="prod-time-label">{{ __('order.production_time_label') }}</span>
                                                                                                                            {% if itemProdDays %}
                                                                                                                                <span class="prod-days-item">{{ itemProdDays }}
                                                                                                                                    {{ __('termin.days') }}</span>
                                                                                                                                <span class="prod-days-max">/ {{ maxProdDays }}
                                                                                                                                    {{ __('termin.days') }}</span>
                                                                                                                            {% else %}
                                                                                                                                <span class="text-muted">-</span>
                                                                                                                            {% endif %}
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            {% endblock estimatedProdDate %}
                                                                                                            {% block extra_rows %}{% endblock %}
                                                                                                            {% set globalIndex = globalIndex + 1 %}
                                                                                                        {% endfor %}
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <div class="mobile-items-list d-block d-md-none">
                                                                                                    {% set mobileIndex = globalIndex - table.rows.length %}
                                                                                                    {% for rowObj in table.rows %}
                                                                                                        {% set mobileIndex = mobileIndex + 1 %}
                                                                                                        <div class="mobile-item-card" data-position-url="/position/{{ rowObj.item.id }}">
                                                                                                            <div class="mobile-item-header">
                                                                                                                <div class="mobile-item-basic">
                                                                                                                    <span class="mobile-item-name">{{ rowObj.item.commision | truncate(25, true, "...") or "-" }}</span>
                                                                                                                    <span class="mobile-item-group">{{ rowObj.item.group_name or '-' }}</span>
                                                                                                                </div>
                                                                                                                <span class="mobile-item-number">#{{ mobileIndex }}</span>
                                                                                                            </div>
                                                                                                            <div class="mobile-item-details">
                                                                                                                <div class="mobile-item-detail">
                                                                                                                    <strong>{{ __('order.department') }}:</strong>
                                                                                                                    <br>
                                                                                                                        {{ rowObj.item.department or '-' }}
                                                                                                                    </div>
                                                                                                                    {% set itemProdDays = itemProductionDays[rowObj.item.id] %}
                                                                                                                    {% if itemProdDays %}
                                                                                                                        <div class="mobile-item-detail">
                                                                                                                            <strong>{{ __('order.production_time_short_label') }}</strong>
                                                                                                                            <br>
                                                                                                                                <span class="prod-days-item">{{ itemProdDays }}
                                                                                                                                    {{ __('termin.days') }}</span>
                                                                                                                                <span class="prod-days-max">({{ __('order.commission_time_prefix') }}
                                                                                                                                    {{ maxProdDays }}
                                                                                                                                    {{ __('termin.days') }})</span>
                                                                                                                            </div>
                                                                                                                        {% endif %}
                                                                                                                    </div>
                                                                                                                    {% if table.headers1.length > 0 %}
                                                                                                                        <div class="mobile-item-specs">
                                                                                                                            {% for header in table.headers1 %}
                                                                                                                        {% if not(header in rowObj.item.lockedParams) %}
                                                                                                                                    <div class="mobile-spec-item">
                                                                                                                                        <strong>{{ header }}:</strong>
                                                                                                                                        {{ rowObj.row.row1[header] or '-' }}
                                                                                                                                    </div>
                                                                                                                                {% endif %}
                                                                                                                            {% endfor %}
                                                                                                                        </div>
                                                                                                                    {% endif %}
                                                                                                                    {% if table.headers2.length > 0 and not isGroupShop %}
                                                                                                                        <div class="mobile-item-prices">
                                                                                                                            {% for header in table.headers2 %}
                                                                                                                            {% if not(header in rowObj.item.lockedParams) %}
                                                                                                                                    <div class="mobile-price-item">
                                                                                                                                        <strong>{{ header }}:</strong>
                                                                                                                                        <b>{{ rowObj.row.row2[header] or '-' }}</b>
                                                                                                                                    </div>
                                                                                                                                {% endif %}
                                                                                                                            {% endfor %}
                                                                                                                        </div>
                                                                                                                    {% endif %}
                                                                                                                    {% if rowObj.item.comment %}
                                                                                                                        <div class="mobile-item-comment">
                                                                                                                            <strong>{{ __('order.comment') }}:</strong>
                                                                                                                            <br>
                                                                                                                                {{ rowObj.item.comment }}
                                                                                                                            </div>
                                                                                                                        {% endif %}
                                                                                                                        {% if (isGroup or isGroupShop) and rowObj.item.subParamValues and rowObj.item.subParamValues.length > 0 %}
                                                                                                                            <div class="mobile-sub-params"{% if showSub or isGroupShop %} style="display: block;"{% endif %}>
                                                                                                                                {% for entry in rowObj.item.subParamValues %}
                                                                                                                                    {% if entry.value and entry.value != '-' and entry.value != '' %}
                                                                                                                                        <div class="mobile-sub-param-item">
                                                                                                                                            <strong>{{ entry.display }}:</strong> <b>{{ entry.value }}</b>
                                                                                                                                        </div>
                                                                                                                                    {% endif %}
                                                                                                                                {% endfor %}
                                                                                                                            </div>
                                                                                                                        {% endif %}
                                                                                                                        <div class="mobile-item-actions">
                                                                                                                            <div
                                                                                                                                class="position-controls d-flex flex-column align-items-start me-2"
                                                                                                                                style="display: inline-flex !important; flex-direction: row !important;">
                                                                                                                                <button class="btn move-up-btn has-tooltip" data-tooltip="{{ __('order.move_up') }}" data-id="{{ rowObj.item.id }}" onclick="event.stopPropagation()">
                                                                                                                                    <svg viewbox="0 0 16 16">
                                                                                                                                        <path
                                                                                                                                            fill-rule="evenodd"
                                                                                                                                            d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5
                                                                                                                                                5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                                                                                                                    </svg>
                                                                                                                                </button>
                                                                                                                                <button class="btn move-down-btn has-tooltip" data-tooltip="{{ __('order.move_down') }}" data-id="{{ rowObj.item.id }}" onclick="event.stopPropagation()">
                                                                                                                                    <svg viewbox="0 0 16 16">
                                                                                                                                        <path
                                                                                                                                            fill-rule="evenodd"
                                                                                                                                            d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5
                                                                                                                                                10.293V4.5A.5.5 0 0 1 8 4z"/>
                                                                                                                                    </svg>
                                                                                                                                </button>
                                                                                                                            </div>
                                                                                                                            <button class="action-btn action-btn-duplicate duplicate-btn" data-id='{{ rowObj.item.id }}' onclick="event.stopPropagation()">
                                                                                                                                {{ __('order.duplicate') }}
                                                                                                                            </button>
                                                                                                                            <a
                                                                                                                                class="action-btn action-btn-edit"
                                                                                                                                href="/position/{{ rowObj.item.id }}/edit?id={{ rowObj.item.id }}"
                                                                                                                                onclick="event.stopPropagation()">
                                                                                                                                {{ __('order.edit') }}
                                                                                                                            </a>
                                                                                                                            <button class="action-btn action-btn-delete delete-position-btn" data-id="{{ rowObj.item.id }}" data-href="/position/{{ rowObj.item.id }}/delete" onclick="event.stopPropagation()">
                                                                                                                                {{ __('order.delete') }}
                                                                                                                            </button>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                {% endfor %}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    {% endfor %}
                                                                                                    {% if totalPrice %}
                                                                                                        <div id='total-container'>
                                                                                                            <div class="total-price d-flex justify-content-end align-items-center">
                                                                                                                <span class='total price-label col-3 text-center'>
                                                                                                                    {% if isGroupShop %}
                                                                                                                        {% if totalPrice.sub and totalPrice.sub != 0 %}
                                                                                                                            {{ __('order.total') }}: {{ totalPrice.sub }}&#8364;
                                                                                                                        </span>
                                                                                                                        {% else %}
                                                                                                                            {{ __('order.according_to_price') }}</span>
                                                                                                                        {% endif %}
                                                                                                                    {% else %}
                                                                                                                        {% if totalPrice.visible != '0.00' %}
                                                                                                                            {{ __('order.total') }}: {{ totalPrice.visible }}&#8364;
                                                                                                                        </span>
                                                                                                                        {% else %}
                                                                                                                            {{ __('order.according_to_price') }}</span>
                                                                                                                        {% endif %}
                                                                                                                    {% endif %}
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    {% endif %}
                                                                                            {% endblock %}
                                                                                            {% block send_order_btn %}
                                                                                                {% if not isEmployee %}
                                                                                                    <div class="send-order-actions d-flex justify-content-end align-items-center w-100">
                                                                                                    {% if showProductionOrderOverride and not isGroupShop %}
                                                                                                        <div class="production-order-override me-3" data-production-client="{{ productionOrderOverrideClient }}">
                                                                                                            <div class="form-check production-order-check">
                                                                                                                <input class="form-check-input" type="checkbox" id="production-order-checkbox" aria-describedby="production-order-warning">
                                                                                                                <label class="form-check-label" for="production-order-checkbox">{{ __('order.production_order_checkbox') }}</label>
                                                                                                            </div>
                                                                                                            <div class="production-order-warning d-none" id="production-order-warning" role="alert" aria-live="polite">
                                                                                                                {{ __('order.production_order_warning') }}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    {% endif %}
                                                                                                    {% if isGroupShop %}
                                                                                                        {% if orderDetails.status == 'pending_approval' %}
                                                                                                            <span class="badge bg-warning text-dark me-3 align-self-center" style="font-size:0.95rem;">{{ __('group.status_submitted_for_approval') }}</span>
                                                                                                        {% else %}
                                                                                                            <button class="action-btn action-btn-send p-1 stop-propagation me-3 custom-order-btn" type="button" id='submit-for-approval-btn' data-id="{{ orderDetails.id }}">
                                                                                                                <p>{{ __('group.submit_for_approval_title') }}</p>
                                                                                                            </button>
                                                                                                        {% endif %}
                                                                                                    {% elif isGroup and orderDetails.group_user_id and orderDetails.status == 'pending_approval' %}
                                                                                                        <span class="badge bg-warning text-dark me-3 align-self-center" style="font-size:0.95rem;">{{ __('group.status_pending_approval') }}</span>
                                                                                                        <button class="action-btn action-btn-send p-1 me-2 custom-order-btn" type="button" id='group-approve-btn' data-id="{{ orderDetails.id }}">
                                                                                                            <p>✓ {{ __('group.approve_send_btn') }}</p>
                                                                                                        </button>
                                                                                                        <button class="action-btn action-btn-delete p-1 custom-order-btn" type="button" id='group-reject-btn' data-id="{{ orderDetails.id }}">
                                                                                                            <p>{{ __('group.reject_btn') }}</p>
                                                                                                        </button>
                                                                                                    {% else %}
                                                                                                        <button class="action-btn action-btn-send p-1 stop-propagation send-order-btn me-3 custom-order-btn" type="button" id='send-order' data-id="{{ orderDetails.id }}">
                                                                                                            <p>
                                                                                                                {{ __('order.send_order_btn') }}</p>
                                                                                                        </button>
                                                                                                    {% endif %}
                                                                                                    </div>
                                                                                                {% endif %}
                                                                                            {% endblock %}
                                                                                        </div>
                                                                                    {% else %}
                                                                                        <div class="text-center py-5 mt-5">
                                                                                            <h3 class="mb-4">{{ __('order.no_positions') }}</h3>
                                                                                            <p class="lead mt-5 fw-bold">{{ __('order.add_position') }}</p>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                            <div id='dialog-container'>
                                                                                <dialog id='dialog-space'></dialog>
                                                                                <dialog id="delete-dialog">
                                                                                    <h3 class="text-center" id='dialog-title'>{{ __('order.delete_element') }}</h3>
                                                                                    <p class="text-center" id='for-sure'>{{ __('order.delete_confirm') }}</p>
                                                                                    <div class="alert" id='status-info'></div>
                                                                                    <div class="confirmattion-buttons">
                                                                                        <button id="cancel-btn" class="btn btn-secondary me-1" type="button">{{ __('order.cancel') }}</button>
                                                                                        <button id="confirm-btn" class="btn btn-danger ms-1" type="button">{{ __('order.confirm') }}</button>
                                                                                    </div>
                                                                                </dialog>
                                                                            </div>
                                                                            <div id="print-template-container" style="display:none;!important">
                                                                                {% block print_template %}
                                                                                    {% include 'order_to_print.njk' %}
                                                                                {% endblock %}
                                                                            </div>
                                                                        </div>
                                                                    {% endblock %}
                                                                </div>
                                                                {% block scripts %}
                                                                    <script type='module' src="/scripts/order.js"></script>
                                                                    <script src="/scripts/mobileCards.js"></script>
                                                                {% endblock scripts %}