{% extends "order_to_print.njk" %}
{% block values_representation %}
  {% set parts = (rowObj.row.row1[header] or '-') | pdfValueParts %}
  <td class="print-td-val"><span class="pdf-val">{{ parts.val }}</span></td>
{% endblock %}
