{% extends "base.njk" %}
{% block title %}{{ __('orders.title') }}
{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="/styles/orders.css">
  <link rel="stylesheet" href="/styles/dialog.css">
{% endblock head %}
{% block key_nav %}
  window.location.href='/'
{% endblock %}
{% block back_link %}
  <button class="modern-back-btn" onclick="window.location.href='/'">
  {% endblock %}
  {% block content %}
    <div class="content col-10 center-content">
      <div class="container my-5 col-12 w-100 ">
        <div class="d-flex justify-content-between align-items-center mb-4">
          {% block site_title %}
            <h2 class="fw-bold header">{{ __('orders.title') }}</h2>
          {% endblock site_title %}
          {% block site_buttons %}
            <a href="/delivery-time" class='btn btn-light' id='delivery-btn'>
              <img src="/img/fast-delivery.png" alt="delivery bus button" style='height:50px;width:50px; border:0px white solid !important'>
            </a>
          {% endblock %}
        </div>
        {% if orders %}

          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">{{ __('orders.order_no') }}</th>
                <th scope="col">{{ __('orders.commission') }}
                </th>
                <th scope="col">{{ __('orders.created_date') }}</th>
                {% block extra_heads%}{% endblock %}
                {% block action_th %}
                  <th scope="col">{{ __('orders.action') }}</th>
                {% endblock %}
              </tr>
            </thead>
            <tbody>

              {% for order in orders %}
                <!--onclick="window.location.href='/orders/order/{{ order.id }}'"-->
                {% block order_item_link %}
                  <tr onclick="window.location.href='/orders/order/{{ order.id }}'" class="order-row">
                  {% endblock %}
                  <th scope="row">{{ order.id }}</th>
                  <td>{{ order.commision }}</td>
                  <td>{{ order.created_date }}</td>
                  {% block extra_rows%}{% endblock %}
                  {% block buttons_space %}
                    <td>
                      <button class="btn btn-outline-danger p-1 delete-position-btn stop-propagation has-tooltip" data-tooltip="{{ __('orders.delete_order') }}" id="delete-order-btn" data-href='/orders/order/{{ order.id }}/delete' type='button' onclick="event.stopPropagation()" '>
                        <img src="/img/delete.png" alt="{{ __('order.delete') }}" style="height: 24px;"/>
                      </button>
                      <a class="btn btn-outline-secondary p-1 stop-propagation has-tooltip" data-tooltip="{{ __('orders.edit_order_tooltip') }}" href='/orders/edit/{{ order.id }}'>
                        <img src="/img/edit-text.png" alt="{{ __('orders.edit') }}">
                      </a>
                      <button class="btn btn-outline-success p-1 stop-propagation send-order-btn has-tooltip" data-tooltip="{{ __('orders.send_order_tooltip') }}" type="button" id='send-order' data-id="{{ order.id }}">
                        <img src="/img/send.png" alt="{{ __('orders.send') }}">
                      </button>

                    </td>
                  {% endblock buttons_space %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
        <div class="text-center py-5" data-id ='siema'>
          {% block empty %}
            <div class="text-center py-5">
              <h3 class="mb-4">{{ __('orders.no_orders') }}</h3>
              <p class="lead">{{ __('orders.add_first_order') }}</p>
            </div>
            <a href="orders/add-order/" class="btn btn-outline-success p-2 mb-5" id='new-order-button' type='button'>
              {{ __('orders.add_order_btn') }}
            </a>
          {% endblock empty %}
        {% endif %}
      </div>

      {% if range(totalPages).length > 1 %}
        <nav aria-label="Paginate">
          <ul class="pagination justify-content-center">
            {% for i in range(1, totalPages + 1) %}

              <li class="page-item {% if i == page %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endfor %}
          </ul>
          <p>{{ __('orders.page_word') }}
            {{ page }}
            z
            {{ totalPages }}</p>
        </nav>
      {% endif %}
    </div>
  </div>
  <div id='dialog-container'>
    <dialog id='dialog-space'></dialog>
    <dialog id="delete-dialog">
      <h3 class="text-center" id='dialog-title'>{{ __('order.delete_element') }}</h3>
      <p class="text-center" id='for-sure'>{{ __('order.delete_confirm') }}</p>
      <div class="alert" id='status-info'></div>
      <div class="confirmattion-buttons">
        <button id="cancel-btn" class="btn btn-secondary me-1" type="button">{{ __('order.cancel') }}</button>
        <button id="confirm-btn" class="btn btn-danger ms-1" type="button">{{ __('order.confirm') }}</button>
      </div>
    </dialog>
  </div>

{% endblock %}

{% block scripts %}
  <script type="module" src="/scripts/orders.js"></script>
{% endblock scripts %}