{% extends "position_sent.njk" %}
                {% block table %}

                    <table class="params-table">
                        <tbody>
                            {% for param in parameters %}
                                {% if param[1]
                                    .option_value and not param[1]
                                    .option_description %}
                                    <tr>
                                        <th>{{ param[1].param_description }}</th>
                                        <td>

                                            {{ param[1].option_value }}
                                            {% if 'WYSOKOSC' in param[0] or 'SZEROKOSC' in param[0] %}
                                                <span class="param-unit">mm</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
