{% extends "base.njk" %}

{%block content%}
    {% block nav%}{%endblock nav%}
    {% block back_link %}{% endblock %}
    <link rel="stylesheet" href="/styles/rodo.css">
    <link rel="stylesheet" href="/styles/mobile/rodo.css">

    <div class="container my-5 col-12 w-100 ">
        <h1>{{ __('base.rodo_title') }}</h1>
        <p >{{ __('base.rodo_text') }}</p>
    </div>
    
    <style>
        .rodo-info-text {
            color: #555;
            font-style: italic;
            margin-bottom: 1rem;}
            
        .arrow{
        display:none !important;
        }
        .back-text{
            display:none !important;
        }
    </style>
    {% block footer %}{% endblock %}
{% endblock content %}